---

---
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">
		<meta name="generator" content={Astro.generator}>
		<title>Dwayne M Cyrus | Design Engineer</title>
		<!-- TODO Move the current title to the main Dev page and make the home page say "It's Cyrus!" or "Dwayne M. Cyrus | Office Website" -->
	</head>
	<body>
		<header>
			<a href="/">Go Home</a>
			<!-- ADD: strapeline of "Design Engineer" -->
			<h1>Frontend Developer for Life Sciences Researchers</h1>
			<p>I design and build applications and tools that make research more reliable, precise, and efficient.</p>
			<ul>
				<li>
					<a href="/Dwayne-Cyrus-Lebenslauf-Frontend-Developer.pdf" target="_blank">Download the CV</a>
					<!-- TODO Make the download (by adding the "download" attribute) button a drop down that give the option to view in browser or download local copy -->
				</li>
				<li>
					<a href="/projects">Explore Projects</a>
				</li>
				<li>
					<a href="https://github.com/dwaynemcyrus">View Source on GitHub</a>
				</li>
			</ul>
		</header>
		<main>
			<section>
				<h2>Projects</h2>
				<p>Selected works — building applications and tools for life sciences researchers.</p>
				<ul>
					<li>
						<h3>Mini-LIMS</h3>
						<p>A lightweight Laboratory Information Management System designed for researchers to track experiments with reliability and precision and an enjoyable intuitive ease of use</p>
						<ul>
							<li>Next.js</li>
							<li>MongoDB</li>
							<li>Tech stack tag item</li>
						</ul>
						<ul>
							<li><a href="https://github.com/dwaynecyrus.com">Source Code</a></li>
							<li><a href="">Live demo</a></p></li>
						</ul>
					</li>

					<li>
						<h3>Data Visualization Dashboard</h3>
						<p>Interactive dashboard for visualizing lab results and workflows, helping scientists uncover insights quickly.</p>
						<ul>
							<li>React</li>
							<li>D3.js</li>
						</ul>
						<ul>
							<li><a href="https://github.com/dwaynecyrus.com">Source Code</a></li>
							<li><a href="">Live demo</a></p></li>
						</ul>
					</li>
				</ul>
			</section>
			<section>
				<h2>Contact</h2>
				<p>Currently seeking opportunities as a Software Engineer in Basel. Contact me via email or LinkedIn to discuss how I can contribute to your team.</p>
				<ul>
					<li><a href="mailto:cyrus@dwaynemcyrus.com">Email me</a></li>
					<li><a href="https://linkedin.com/">LinkedIn</a></li>
				</ul>
			</section>
		</main>
		<footer>
			<p>© 2025 Dwayne M. Cyrus · Basel, Switzerland</p>
		</footer>
	</body>
	</html>