---

---
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">
		<meta name="generator" content={Astro.generator}>
		<title>Dwayne M Cyrus | Design Engineer</title>
		<!-- TODO Move the current title to the main Dev page and make the home page say "It's Cyrus!" or "Dwayne M. Cyrus | Office Website" -->
	</head>
	<body>
		<h1>Homepage of the Website</h1>
		<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Est fugiat error, dolorum vero enim ipsam distinctio odit nam aspernatur officia. Maiores atque doloribus est vel quod odio alias ad nisi.</p>
	</body>
	</html>